@import "theme/_colors.scss";

.Title {
    font-size: 36px;
    color: $color-black;

    &_level {
        &_2 {
            font-size: 24px;
        }

        &_3 {
            font-size: 18px;
        }
    }
}
